@import "tailwindcss";

@theme {
  --color-brand-primary: #fe0002;
  --color-brand-secondary: #d40002;
  --color-brand-accent: #ff3335;
  --color-brand-surface: #1a0000;

  --breakpoint-xs: 400px;

  --animate-bounce-subtle: bounce-subtle 2s infinite;

  @keyframes bounce-subtle {

    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }
}